<a href="https://colab.research.google.com/github/MEGHANA192/python/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) PROGRAM TO PRINT THE nCr value of given n and r

In [ ]:
def nCr(n,r):
 return(fact(n)/(fact(r)
 *fact(n-r)))
n=int(input("enter the value of n "))
print("note:n must be greater than r ")
r=int(input("enter the value of r "))
def fact(n):
 a=1
 for i in range(2,n+1):
     a=a*i
 return a
print("your answer is  ")
print(int(nCr(n,r)))

enter the value of n 5
note:n must be greater than r
enter the value of r 3
your answer is
10

2) Recursive function to compute GCD of 2 numbers

In [2]:
def GCD(a,b):
  if a==b:
    return a
  elif a<b:
    return GCD(b,a)
  else:
      return GCD(b,a-b)
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(GCD(a,b))

Enter a number:5
Enter a number:3
1

3) ecursive function to find product of two numbers

In [4]:
def prod(d,c):
  if d<c:
    return prod(c,d)
  elif c!=0:
    return (d+prod(d,c-1))
  else:
    return 0
d=int(input("Enter a number:"))
c=int(input("Enter a number:"))
print("The product of a and b is:")
print(prod(d,c))

Enter a number:5
Enter a number:4
The product of a and b is:
20

4) Recursive function to generate Fibonacci series

In [8]:
def fibomeghana(a):
  if a<=1:
    return a
  else:
    return(fibomeghana(a-1)+fibomeghana(a-2))
a=int(input("Enter a number:"))
print("The fibonacci sequence of entered number is:")
for i in range(a):
  print(i)
print(fibomeghana(a))

Enter a number:5
The fibonacci sequence of entered number is:
0
1
2
3
4
5

5) Program to print a specified list after removing the 0th, 4th and 5th elements.

Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output : ['Green', 'White', 'Black']

In [ ]:
def meghana():
  a=["red","green","white","black","pink","yellow"]
  print(a[1:4])
meghana()

['green', 'white', 'black']

6) Program to get the difference between the two lists.

In [ ]:
def dhoni():
  meghana=["banana","apple","mango"]
  maggi=["apple","kiwi","papaya"]
  a=set(meghana)
  b=set(maggi)
  c=a.symmetric_difference(b)
  d=list(c)
  print(d)
dhoni()

<class 'list'>
<class 'list'>
['kiwi', 'banana', 'mango', 'papaya']

7) Program to find the second smallest number and second largest number in a list.

In [19]:
def dhoni():
  meghana=[1,3,5,43,0]
  print(meghana)
  meghana.sort()
  print("after sorting the list that is  in ascending order is")
  print(meghana)
  print("the second smallest number is ")
  print(meghana[1])
  print("the second largest number is  ")
  print(meghana[-2])
dhoni()

[1, 3, 5, 43, 0]
after sorting the list that is  in ascending order is
[0, 1, 3, 5, 43]
the second smallest number is
1
the second largest number is
5

8) Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
def dhoni():
  meghana=[2,4,6,8,10]
  print("the give list is ",meghana)
  print("your result is")
  for x in meghana:
    result=(x,pow(x,2))

    print(result)
dhoni()

the give list is  [2, 4, 6, 8, 10]
your result is
(2, 4)
(4, 16)
(6, 36)
(8, 64)
(10, 100)

9) Given list of tuples, remove all the tuples with length K.

Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2

Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

Explanation : (4, 5) of len = 2 is removed.

In [ ]:
meghana=[(2,3),(4,5,7),(6,7),(1,),(2,3,4,5),(2,4)]
k=2
for x in meghana:
  if(len(x)==k):
    meghana.remove(x)
print(meghana)

[(4, 5, 7), (1,), (2, 3, 4, 5)]

10) Program to generate and print a dictionary that contains a number
 (between 1
and n)
 in the form (x, x*x).

sample Input: (n=5) :

Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
a=int(input("enter a number:"))
meghana=dict()
for num in range(1,a+1):
 meghana[num]=num*num
print("the generated elements are:")
print(meghana)

enter a number:5
the generated elements are:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

10) a )  with function

In [1]:
def dhoni():
  a=int(input("enter a number:"))
  meghana=dict()
  for x in range(1,a+1):
    meghana[x]=x*x
    print("the generated elements are:")
    print(meghana)
dhoni()

enter a number:4
the generated elements are:
{1: 1}
the generated elements are:
{1: 1, 2: 4}
the generated elements are:
{1: 1, 2: 4, 3: 9}
the generated elements are:
{1: 1, 2: 4, 3: 9, 4: 16}

11) Program to remove a key from a dictionary

In [ ]:

meghana={"age" : 18,
        "name" : "meghana",
        "year" : 2004,
        "course" : "CSEN"
}
meghana.pop("course")
print(meghana)

{'age': 18, 'name': 'meghana', 'year': 2004}

12) Program to get the maximum and minimum value in a dictionary

In [9]:
meghana={
"maths":91,
"chemistry":71,
"english":87,
"physics":56,
"python":90
}
maxim=max(meghana,key=meghana.get)
minim=min(meghana,key=meghana.get)
print(maxim,meghana[maxim])
print(minim,meghana[minim])

maths 91
physics 56

13) Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .

Example-I have to go to a doctor and get myself checked.

 Count the number of
occurrences of "to".

In [10]:
meghana="first,i have to go to the super market to get some groceries and then to the shopping mall to buy some clothes "
print(meghana.count("to"))

5

14) Program for replacing one substring by another

 For example - Rabbit - Replace "bb" by
"cc"

In [12]:
meghana="apple"
print(meghana)
meghana1=meghana.replace('pp','nk')
print("the word after replacing is")
print(meghana1)

apple
the word after replacing is
ankle

15) Program to Acronym generator for any user input 

(ex-input is Random memory access
then output should be RMA).

Example - Random number (RN)

In [15]:
meghana=input("enter a phrase:")
phrase=meghana.split()
acronym=""
for word in phrase:
  acronym=acronym+word[0].upper()
print(f'Acronym of {meghana} is {acronym}')

enter a phrase:random access memory
Acronym of random access memory is RAM

16) Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [20]:
meghana="My name iS Meghana And i am from VIZAG"
ucase=0
lcase=0
for i in meghana:
  if i.isupper():
    ucase+=1
  elif i.islower():
    lcase+=1
  else:
    pass
print("uppercase alphabets are:", ucase)
print("lowercase alphabets are:", lcase)

uppercase alphabets are: 9
lowercase alphabets are: 21

17) Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings
x 

Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [18]:
meghana=["abc", "xyz", "aba", "1221"]
count=0
for i in meghana:
  if len(i)>=2:
    if i[0]==i[len(i)-1]:
      print(i)
      count+=1
print(count)

aba
1221
2