<a href="https://colab.research.google.com/github/MEGHANA192/python/blob/main/PYTHON_EXCERCISE_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# average of 3 numbers static

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## multiplication of 3 numbers using static

In [ ]:
a=2
b=3
c=4
multiplication=a*b*c
print(multiplication)
print(type(multiplication))

24
<class 'int'>

## dynamic addition of 2 numbers

In [ ]:
a=int(input("enter a number "))
b=int(input("enter a number "))
addition=a+b
print(addition)
print(type(addition))

enter a number 10
enter a number 20
30
<class 'int'>

## multiplication of 3 numbers dynamic

In [ ]:
a=int(input("enter a number "))
b=int(input("enter a number "))
c=int(input("enter a number "))
multiplication=a*b*c
print(multiplication)
print(type(multiplication))

enter a number 2
enter a number 3
enter a number 4
24
<class 'int'>

## avg of 3 numbers dynamic

In [ ]:
a=int(input("enter a number "))
b=int(input("enter a number "))
c=int(input("enter a number "))
avg=(a+b+c)/3
print(avg)
print(type(avg))

enter a number 1
enter a number 1
enter a number 1
1.0
<class 'float'>

## conversion data types
### 1 ) int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

### 2) float to int

In [ ]:
a=10.3
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

10.3
<class 'float'>
10
<class 'int'>

### 3) int to string

In [ ]:
a=10
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

### 4) a)string to float  (olny possible when string is not in char)

In [ ]:
a='10.3'
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

10.3
<class 'str'>
10.3
<class 'float'>

### 4) b) string to int (olny possible when string is not in char)

In [ ]:
a='10'
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

10
<class 'str'>
10
<class 'int'>

### BOOLEANS

In [ ]:
a=23
b=25
print(bool(a==b))
print(bool(b==25))

False
True

#### boolean with condition example

In [ ]:
a=10
b=5
c=a>b
print(c)
print(type(c))

True
<class 'bool'>

### boolean to int

In [ ]:
a=bool(23)
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

## bolean to float

In [ ]:
a=bool(23)
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

True
<class 'bool'>
1.0
<class 'float'>

### int to boolean

In [ ]:
a=23
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

23
<class 'int'>
True
<class 'bool'>

### float to boolean

In [ ]:
a=23.5
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

23.5
<class 'float'>
True
<class 'bool'>

### complex numbers