<a href="https://colab.research.google.com/github/MEGHANA192/python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = {"apple", "banana", "cherry"}
print(a)

{'banana', 'apple', 'cherry'}

In [4]:
a = {"apple", "banana", "cherry","apple"}
print(a)
print(len(a))

{'banana', 'apple', 'cherry'}
3

In [5]:
a = {"apple", "banana", "cherry"}
b = {1, 5, 7, 9, 3}
c= {True, False, False}
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

{'banana', 'apple', 'cherry'}
<class 'set'>
{1, 3, 5, 7, 9}
<class 'set'>
{False, True}
<class 'set'>

In [6]:
a= {"abc", 34, True, 40, "male"}
print(a)
print(type(a))

{True, 34, 40, 'male', 'abc'}
<class 'set'>

In [8]:
a = set(("apple", "banana", "cherry")) # note the double round-brackets
print(a)
print(type(a))

{'banana', 'apple', 'cherry'}
<class 'set'>

for loop

In [9]:
a = {"apple", "banana", "cherry"}

for x in a:
  print(x)

banana
apple
cherry

In [10]:
a = {"apple", "banana", "cherry"}

print("banana" in a)

True

Change Items

Once a set is created, you cannot change its items, but you can add new items.

adding lisst items

In [12]:
a = {"apple", "banana", "cherry"}

a.add("orange")

print(a)

{'banana', 'apple', 'cherry', 'orange'}

adding 2 sets

In [14]:
fruitsa = {"apple", "banana", "cherry"}
fruitsb = {"pineapple", "mango", "papaya"}

fruitsa.update(fruitsb)

print(fruitsa)

{'mango', 'banana', 'apple', 'pineapple', 'cherry', 'papaya'}

In [15]:
a = {"apple", "banana", "cherry"}
b = ["kiwi", "orange"]

a.update(b)

print(a)

{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

## remve set items

In [16]:
a = {"apple", "banana", "cherry"}

a.remove("banana")

print(a)

{'apple', 'cherry'}

Remove "banana" by using the discard() method:

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [17]:
a = {"apple", "banana", "cherry"}

a.discard("banana")

print(a)

{'apple', 'cherry'}

Remove the last item by using the pop() method:

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

d

In [35]:
a = {"apple", "banana", "cherry"}

x = a.pop()

print(x)

print(a)

banana
{'apple', 'cherry'}

In [ ]:
a = {"apple", "banana", "cherry"}
x=list(a)
x.pop(2)
print(x)

The clear() method empties the set:

In [36]:
a = {"apple", "banana", "cherry"}

a.clear()

print(a)

set()

The del keyword will delete the set completely:

In [37]:
a = {"apple", "banana", "cherry"}

del a

print(a)

NameError: ignored

## loops

In [38]:
a = {"apple", "banana", "cherry"}

for x in a:
  print(x)

banana
apple
cherry

## Join Sets

Join Two Sets

The union() method returns a new set with all items from both sets:

In [40]:
a = {"a", "b" , "c"}
b = {1, 2, 3}

c = a.union(b)
print(c)

{'b', 1, 2, 3, 'c', 'a'}

In [42]:
a = {"a", "b" , "c"}
b = {1, 2, 3}

a.update(b)
print(a)

{'b', 1, 2, 3, 'c', 'a'}

Note: Both union() and update() will exclude any duplicate items.

Keep ONLY the Duplicates

intersections

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [45]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

Keep All, But NOT the Duplicates

In [46]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.:

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}